@import '~bootstrap/scss/bootstrap';

// header
header {
  background-color: #2E353D;
  color: #fff;

  .my_wrap {
    height: 90px;
  }
}

// main
main {
  background-color: #ECEFF1;

  .my_card {
    height: 350px;
    width: 210px;
    font-size: 0.8rem;
    line-height: 1.8;
    color: #636363;
  }
}

// footer
.background_footer {
  background-color: #2E353D;
  color: #fff;
  height: 100px;
}